---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

<li>
    <b> Symlm: Predicting function names in stripped binaries via context-sensitive execution-aware code embeddings
        <br>
        <a href="https://dl.acm.org/doi/pdf/10.1145/3548606.3560612" target="_blank">[pdf]</a>
        <!-- <a href="https://web.cse.ohio-state.edu/~wen.423/slides/5g-spector-slides.pdf" target="_blank">[slides]</a> -->
        <a href="https://github.com/OSUSecLab/SymLM" target="_blank">[code]</a>
    </b></font><br>
    Xin Jin, Kexin Pei, Jun Yeon Won, and Zhiqiang Lin
    <i>Proceedings of the 2022 ACM SIGSAC Conference on Computer and Communications Security, 2022 November</i> <br>
</li>
<br>

<li>
    <b> What You See is Not What You Get: Revealing Hidden Memory Mapping for Peripheral Modeling
        <br>
        <a href="https://dl.acm.org/doi/pdf/10.1145/3545948.3545957" target="_blank">[pdf]</a>
        <!-- <a href="https://web.cse.ohio-state.edu/~wen.423/slides/5g-spector-slides.pdf" target="_blank">[slides]</a> -->
        <a href="https://github.com/OSUSecLab/AutoMap" target="_blank">[code]</a>
    </b></font><br>
    Jun Yeon Won, Haohuang Wen, and Zhiqiang Lin
    <i>Proceedings of the 25th International Symposium on Research in Attacks, Intrusions and Defenses, 2022 October</i> <br>
</li>
<br>

<li>
    <b> Drift with Devil: Security of Multi-Sensor Fusion based Localization in High-Level Autonomous Driving under GPS Spoofing
        <br>
        <a href="https://www.usenix.org/system/files/sec20-shen.pdf" target="_blank">[pdf]</a>
        <!-- <a href="https://web.cse.ohio-state.edu/~wen.423/slides/5g-spector-slides.pdf" target="_blank">[slides]</a> -->
    </b></font><br>
    Junjie Shen, Jun Yeon Won, Zeyuan Chen, and Qi Alfred Chen
    <i>29th USENIX security symposium, 2020 August</i> <br>
</li>
<br>
<!--
{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

New style rendering if publication categories are defined
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}
-->


